<div class="landing-block">
    <img src="https://user.oc-static.com/upload/2023/04/19/16819095089217_FR_711_arch-log_P11_CompanyBanner.png"
        alt="MedHead logo">
    <div class="landing-links">
        <h2 class="h3">Comment ça marche ?</h2>
        <p>MedHead souhaite moderniser et améliorer considérablement la
            recherche d'hôpitaux.</p>
        <p>Vous avez à disposition un outil vous permettant de rechercher
            un hôpital proche de vous, selon une spécialités NHS précise.</p>
        <button (click)="onContinue()">Je débute !</button>
    </div>
</div>