<header>
    <div>
        <h1>MedHead</h1>
    </div>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Acceuil</a>
        <a routerLink="hopitaux" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Hopitaux</a>
        <a routerLink="specialisations" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Specialisations</a>
        <a routerLink="recherche" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">🔎</a>
    </nav>
</header>